.maze {
  border-collapse: collapse;
}
.maze td {
  border: 3px solid black;
  height: 30px;
  width: 30px;
  background-size: contain;
  background-repeat: no-repeat;
}
.maze td.highlight{
  background-color: lightgray;
}
.rooms {
  margin: 20px;
}
.clear{
  clear: both;
}
.control {
  height: 20px;
  width: 20px;
  float: left;
  margin-left: 5px;
  background-size: contain;
  background-repeat: no-repeat;
}
.room {
  border: 3px solid black;
}

.goal{
  background-image: url('images/goal-flag-icon.png');
}

.start{
  background-image: url('images/start-flag-icon.png');
}

.north{
  border-top: 1px solid lightgray !important;
}
.east{
  border-right: 1px solid lightgray !important;
}
.south{
  border-bottom: 1px solid lightgray !important;
}
.west{
  border-left: 1px solid lightgray !important;
}

.move_north{
  background-image: url('images/arrow_north.png');
  background-size: 75% !important;
  background-position: center;
}
.move_east{
  background-image: url('images/arrow_east.png');
  background-size: 75% !important;
  background-position: center;
}
.move_south{
  background-image: url('images/arrow_south.png');
  background-size: 75% !important;
  background-position: center;
}
.move_west{
  background-image: url('images/arrow_west.png');
  background-size: 75% !important;
  background-position: center;
}
